.name {
    background-color: #EEE8B1;
    padding: 5px;
    text-align: center;
    margin-bottom: 2px;
    font-weight: bold;
}

.life-present {
    background-color: #ECFA2B;
}

.life-empty {
    background-color: #001687;
}

.life {
    height: 100%;
    width: 100%;
}

.life-outer {
    height: 100%;
    padding: 2px;
    padding-right: 1px;
    padding-left: 1px;
}

.life-container {
    height: 60px;
    margin: auto;
    text-align: center;
}

.score {
    background-color: #000000;
}

.photo {
    width:100%
}

.buttons {
    margin-top: 15px;
    margin-bottom: 15px;
}

.player-removed {
    filter: brightness(50%);
}

.sounds > button {
    margin-top:2px;
}
